*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    position: relative;
}

/* HEADER */

header {

    background-color:rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0px;
    width: 100%


}

header .header__title {
    display: flex;
    justify-content: space-between;
}

header .logo {
    font-size: 2rem;
    color: white;
    width: 50%;
    letter-spacing: 2px;
    padding: 5px 8px;
}

header .logo span{
    color:#00CDCE;
}

header .navBar {
    width: 50%;
    
}

header .navBar ul {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
}
header .navBar ul  li {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 1px solid white
}
header .navBar ul a {
    text-decoration: none;
    color: white;
    margin-bottom: 40px;

    
}





header .navBar ul hr {

    margin-top: 5px;
    width: 100%;;
}


/* CAROUSEL */
.carousel {
    background-image: url('../img/b4.jpg');
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
    
    

}
.carousel .carousel__content{
    width: 75%;
    margin: 0px auto;
    text-align: center;
    border: solid 1px blue;
    padding: 32px;
    color: white;

}
.carousel .item__title {
    display:flex;
    justify-content: space-between;
    padding: 150px 0;
}
.carousel .item h1{
    font-size: 4rem;
    font-weight: 700;

}

.carousel .item img{
    height: 40px;
    width: 40px;
    margin: 30px 0

}

.carousel__content .owl-theme .owl-dots .owl-dot.active span {
    background-color:black;
}

.carousel__content .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

/* ABOUT */
.about {
    margin: 80px 0px
}
.about h2 {
    font-size: 3rem;
    font-weight: 700px;
    text-align: center;
}
.about__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.about__content .about__content__info {
    padding: 10px 10px;
    text-align: center;
}

.about__content .about__content__info i {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    border: .5px solid black;
    font-size: 1.3rem;
}
.about__content .about__content__info p {
    line-height: 1.5rem;
    margin-top: .5rem;
}

.about .about__details{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.about .about__details h3 {
    font-size: 2rem;
    font-weight: 700px;
    color:#00CDCE;
    margin-bottom: 10px
}

.about .about__details  p {
    line-height: 1.5rem;
}

/* STATS */
.stats {
    background-color: #00CDCE;
    height: 200px;
    text-align: center;
    width: 100%;
    margin: 40px auto;
}
.stats__detail {
    display: flex;
    justify-content: space-around;
    margin: 0 10px
    
}
.stats  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 30px 0;
}

.stats__detail p {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 5px
}

.numscroller {
    font-size: 2rem;
    font-weight: 700;
    color: white
}

/* BLOG */
.blog {
    
    text-align:center;
}

.blog__detail {
    width: 60%;
    margin: 0 auto;
}
.blog h2 {
   font-size: 3rem;
   font-weight: 700;
   margin-bottom: 20px
}
.blog__detail {
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.blog__detail .blog__item {
    margin: 10px 20px
}
.blog__item {
    background-color: #efefef;
}
.blog__item img {
    height: 120px;
    width: 100%
}
.blog__item p {
    line-height: 20px;
    padding-left: 15px
}
.blog .blog__item button {
    text-align:left;
    margin-left: 15px;
    letter-spacing: 2px;
    background-color: black;
    color:#00CDCE;
    padding: 5px;
    border-width:0;
    font-weight: 700;
    margin: 20px
}
.blog__item h4 {
    color: #00CDCE;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px
}

.blog .blog__individual {
    display:flex;
}

.blog .blog__info {
    background-color:#00CDCE;
    padding: 40px 0px;
}

.blog .blog__info p {
    padding: 10px 40px;
    line-height: 30px;
    font-weight: 600;
    color:white;
}

.blog .blog__info button {
    padding: 5px 20px;
    color:#00CDCE;
    background-color:black;
    border-width: 0;
}

/* PORTFOLIO */

.portfolio{
    margin: 40px 0px;
    text-align: center;
}

.portfolio h1{
    font-size: 4rem;
    font-weight: 700;
}
.portfolio__pics {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:auto;
    gap: 25px 30px;
    width: 70%
}

.portfolio__pics img {
    width: 100%;
    display:block;

}

/* SUBSCRIBE */
.subscribe{
    text-align: center;
    background-color: #00CDCE;
    margin: 40px 0;
}
.subscribe .subscribe__content{
    width: 70%;
    margin: 0 auto;
    
}

.subscribe .subscribe__content h2{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 20px 0
}

.subscribe .subscribe__content p{
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 10px 0;
}

.subscribe .subscribe__content input{
    width: 50%;
    height: 30px;
    margin: 10px 0
}

.subscribe .subscribe__content button{
    background-color: black;
    color: white;
    width: 15%;
    height: 30px;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}

/* AGENT */
.agent {
    text-align: center;
}

.agent h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 30px 0;
}

.agent .agent__detail {
    display:flex;
    width: 80%;
    margin: 0 auto;
}

.agent .agent__detail img{
    width: 100%;
    display: block;
}

.agent .agent__item {
    padding: 10px 10px
}

.agent__item .item__info{
    background-color:#363636;
}

.agent__item .item__info h4{
    color:#00CDCE;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 10px 0
}

.agent__item .item__info p{
    margin-bottom: 10px;
    color:white;
}

.agent__item .icons i {
    margin: 10px 10px;
    width: 28px;
    height: 25px;
    line-height: 25px;
    border: 1px solid white;
    color: white;
}

/* MAP */
.map {
    margin: 40px 0;
    border: 1px solid #00CDCE;
    background-color: #bbbbbb;
}
.map iframe {
    width: 100%;
    padding: 15px 15px;
    display:block
}

/* CONTACT */
.contact {
    width: 70%;
    margin: 0 auto;
    display:flex;
}
.contact .input {
    width: 50%
}
.contact .input input {
    display: block;
    width: 90%;
    margin: 30px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #a6a6a6;
    background-color: #efefef;
}
.contact  .text textarea {
    display: block;
    width: 100%;
    margin-top: 32px;
    margin-right: 30px;
    padding: 10px;
    background-color: #efefef;
    border: none;
    border-bottom: 2px solid #a6a6a6;

}

.contact .text {
    width: 50%
}

.contact  button {
    display: block;
    width: 100%;
    margin-top: 6px;
    padding: 10px;
    background-color: black;
    color: white;
}

